@charset "utf-8";
/* ===============================
Top Page
=============================== */

/* About us start */
.aboutus-header {
    font-family: "Ubuntu";
    font-size: 42px;
    color: #0a3380;
    font-weight: 700;
    margin: 20px 0;
}

.aboutus-section {
    font-family: "Nunito";
}

.aboutus {
    background-image: url(../img/aboutus/aboutus-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #f2f2f4;
    height: 300px;
    margin-bottom: 90px;
    padding: 80px 0px 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-h2 {
    margin: 0;
}

.inner-aboutus {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-feature-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    flex-wrap: wrap;
    gap: 0px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.feature-item .right {
    text-align: right;
}

.feature-left,
.feature-right {
    display: flex;
    flex-direction: column;
    max-width: 363px;
    width: 100%;
    height: 420px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.feature-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0 10px;
    text-align: left;
}

.feature-item img {
    width: 40px;
    height: auto;
    flex-shrink: 0;
}

.feature-item-content.left {
    text-align: right;
}

.feature-item-content {
    width: calc(100% - 60px);
}

.feature-item h4 {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px;
}

.feature-item span {
    color: #2ea6f7;
}

.feature-item p {
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 500;
    color: #3B4964;
    line-height: 1.6;
}

.doctor-image-wrapper {
    position: relative;
    width: 571px;
    height: 600px;
    z-index: 2;
    flex-shrink: 0;
}

.doctor-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.circle-bg {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 1px dashed #47c2ff;
    z-index: 1;
    pointer-events: none;
}

.our-feature {
    font-weight: 700;
    color: #ff9e21;
    position: relative;
    max-width: fit-content;
    font-size: 14px;
    text-align: center;
    font-family: "Ubuntu";
    margin: 0 auto;
    padding: 0 40px;
}

.our-feature::before,
.our-feature::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 2px;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff9e21;
}

.our-feature::before {
    left: 0;
}

.our-feature::after {
    right: 0;
}

.our-feature-header {
    font-family: "Ubuntu";
    font-size: 42px;
    color: #0a3380;
    font-weight: 700;
    text-align: center;
    padding: 22px 0px 24px;
}

.our-feature-content {
    font-family: "Nunito";
    font-size: 16px;
    color: #3b4964;
    font-weight: 500;
    text-align: center;
    max-width: 824px;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.6;
}

.our-feature-cover {
    padding: 10px;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 93px;
}

@media screen and (max-width:1199px) {
    .doctor-image-wrapper {
        width: 471px;
        height: 495px;
    }
}

/* Responsive */
@media screen and (max-width: 1092px) {
    .circle-feature-section {
        flex-direction: column;
        gap: 60px;
    }

    .feature-left,
    .feature-right {
        flex-direction: column;
        max-width: 839px;
        width: 100%;
    }

    .feature-item {
        max-width: 839px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 912px) {
    .counter {
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 767px) {
    .our-feature-content {
        max-width: 626px;
    }

    .our-feature-header {
        font-size: 30px;
    }
}

@media screen and (max-width: 539px) {
    .doctor-image-wrapper {
        width: 420px;
        height: 447px;
    }
}

@media screen and (max-width: 447px) {
    .doctor-image-wrapper {
        width: 362px;
        height: 381px;
    }
}

@media screen and (max-width: 414px) {
    .doctor-image-wrapper {
        width: 341px;
        height: 361px;
    }
}

@media screen and (max-width: 382px) {
    .doctor-image-wrapper {
        width: 321px;
        height: 341px;
    }
}

@media screen and (max-width: 357px) {
    .doctor-image-wrapper {
        width: 281px;
        height: 301px;
    }

    .circle-feature-section {

        gap: 20px;
    }

    .feature-item:nth-child(2) {
        padding-bottom: 0;
    }
}
@media screen and (max-width:325px){
    .counter-h3{
        font-size: 13px;
    }
}

/* About us End */

/* Our History */
.history-header {
    font-family: 'Ubuntu';
    font-size: 42px;
    color: #0a3380;
    font-weight: 700;
    margin: 20px 0;
}

.history-section {
    font-family: Nunito;
}

.history {
    background-image: url(../img/our-history/half-doctor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    background-color: #f2f2f4;
    height: 300px;
    margin-bottom: 90px;
    padding-top: 80px;
    padding-bottom: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-h2 {
    margin: 0;
}

.inner-history {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    padding: 0 5px;
    color: #54ced4;
}

.breadcrumb-item a {
    color: #0a3380;
    opacity: 0.7;
}

.breadcrumb-item.active {
    color: #0a3380;
    font-weight: 700;

}

.mission {
    max-width: 1340px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
}

.mission-h3 {
    margin: 10px 0;
    line-height: 1.5;
    font-weight: 700;
}

.mission-img {
    max-width: 656px;
}

.our-mission-wrapper {
    max-width: calc(100% - 656px);
    width: 100%;
    padding: 20px 0;
}

.mission-ul {
    position: relative;
}

.mission-ul li::before {
    content: '';
    background: url(../img/our-history/check.png) no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

.mission-ul li {
    padding-left: 30px;
    line-height: 2.5;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.our-mission {
    font-weight: 700;
    color: #ff9e21;
    position: relative;
    max-width: 140px;
    /* padding: 0 20px; */
    font-size: 14px;
    font-family: 'Ubuntu';
}

.our-mission span::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    right: 20px;
    margin-top: -2px;
    background-color: #ff9e21;
}

.our-history-wrapper {
    background-color: #54ced4;
    background-image: url(../img/our-history/our-history-bg.png);
    background-position: center center;
    background-repeat: repeat;
    height: 100%;
}

.inner-our-history {
    max-width: 1320px;
    margin: 86px auto 0 auto;
    padding: 112px 20px;
    color: #ffff;
    text-align: center;
}

.our-history-h3 {
    color: #ffff;
}

.our-history-p {
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 2;
    text-align: center;
    margin-bottom: 20px;
}

.history-card-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.history-card-h3 {
    color: #0a3380;
    font-size: 20px;
    line-height: 1.4;
    transition: 0.4s;
    margin-bottom: 8px;
    font-family: 'Ubuntu';
}

.history-card-p {
    color: #3b4964;
    font-family: 'Nunito';
}

.history-card {
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    padding: 24px 30px 24px 50px;
    margin-bottom: 30px;
    position: relative;
}

.history-card::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -38px;
    width: 30px;
    height: 30px;
    background: url(../img/our-history/white_circle_icon.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.year {
    font-family: "Ubuntu", Sans-serif;
    font-weight: 500;
    font-size: 48px;
    transition: 0.4s;
    position: relative;
    padding-right: 30px;
    text-align: center;
}

.year::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: #ffffff;
}

.history-card-wrapper:last-child .year::after {
    content: none;
}

.history-card-wrapper:last-child .history-card {
    margin-bottom: 0;
}

.our-history {
    position: relative;
    max-width: 140px;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Ubuntu';
}

.our-history span::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    margin-top: -2px;
    background-color: #ffffff;
    left: 0;
}

.our-history span::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    right: 0;
    margin-top: -2px;
    background-color: #ffffff;
}

.care-a-wrapper {
    display: flex;
    max-width: 1320px;
    padding: 0 20px;
    margin: 100px auto 0 auto;
}

.care-a-img {
    max-width: 650px;
    position: relative;
}

.care-a-content {
    max-width: calc(100% - 670px);
    margin-top: 75px;
    padding: 10px;
}

.carea-lower-content p {
    font-family: 'Nunito';
    color: #3b4964;
    margin-bottom: 20px;
    line-height: 1.8;
    font-weight: 500;
}

.lower-carea {
    font-family: "Ubuntu", Sans-serif;
    font-weight: 700;
    color: #ccd0de;
    font-size: 18px;
    display: flex;
    margin-bottom: 22px;
    padding: 5px 43px 20px 0;
}

.lower-carea-h4 {
    position: relative;
    max-width: 200px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.lower-carea-h4::before {
    content: "";
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 0;
    left: 0;
    top: 35px;
    transition: width 0.1s;
    background-color: #ff9e21;
}

.lower-carea-h4.active::before {
    width: 100%;
}

.lower-carea-h4.active {
    color: #0a3380;
}

.carea-img2 {
    position: absolute;
    top: 0;
    right: 0;
}

.care-a {
    color: #ff9e21;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 700;
    position: relative;
    max-width: 175px;
}

.care-a::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    right: 15px;
    margin-top: -2px;
    background-color: #ff9e21;
}

@media screen and (max-width: 1200px) {
    .mission-img {
        max-width: 550px;
    }

    .our-mission-wrapper {
        max-width: calc(100% - 550px);
        width: 100%;
    }

    .care-a-img {
        max-width: 550px;
        position: relative;
    }

    .care-a-content {
        max-width: calc(100% - 550px);
        margin-top: 75px;
        padding: 10px;
    }
}

@media screen and (max-width: 1095px) {
    .mission-ul li:first-child:before {
        margin-top: -35px;
    }
}

@media screen and (max-width: 1025px) {
    .mission {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .mission-img {
        max-width: 656px;
    }

    .our-mission-wrapper {
        max-width: 100%;
    }

    .care-a-wrapper {
        display: flex;
        flex-direction: column;
    }

    .care-a-content {
        max-width: 100%;
    }

    .mission-ul li:first-child:before {
        margin-top: 0px;
    }

    .care-a-img {
        max-width: 650px;
    }
}

@media screen and (max-width: 768px) {
    .history {
        margin-bottom: 45px;
    }

    .mission-img {
        max-width: 500px;
        width: 100%;
    }

    .our-mission-wrapper {
        max-width: 100%;
    }

    .care-a-wrapper {
        padding: 0 50px 0 100px;
    }

    .care-a-content {
        max-width: 100%;
    }

    .mission-ul li:first-child:before {
        margin-top: 0px;
    }

    .care-a-img {
        max-width: 650px;
    }

    .care-a-wrapper {
        display: flex;
        max-width: 600px;
        padding: 0 20px;
        margin: 50px auto 0 auto;
    }

    .mission {
        max-width: 600px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
    }

    .year {
        font-size: 35px;
        transition: 0.4s;
        padding-right: 30px;
    }

    .history-card {
        background-color: #ffffff;
        border-radius: 15px 15px 15px 15px;
        padding: 24px 15px 24px 25px;
        margin-bottom: 30px;
        position: relative;
    }

    .our-history-h3 {
        font-size: 30px;
    }

    .inner-our-history {
        max-width: 600px;
        margin: 43px auto 0 auto;
        padding: 56px 20px;
        color: #ffff;
        text-align: center;
    }

    .lower-carea {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 20px;
    }

    .lower-carea-h4 {
        position: relative;
        max-width: 100%;
        text-align: center;
        cursor: pointer;
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 525px) {
    .mission-ul li:first-child::before {
        margin-top: -33px;
    }

    .year {
        font-size: 30px;
        transition: 0.4s;
        padding-right: 30px;
    }

    .history-card {
        background-color: #ffffff;
        border-radius: 15px 15px 15px 15px;
        padding: 24px 10px 24px 10px;
        margin-bottom: 30px;
        position: relative;
    }
}

@media screen and (max-width: 428px) {
    .mission-ul li:nth-child(5)::before {
        margin-top: -33px;
    }
}

@media screen and (max-width: 375px) {
    .history-card-wrapper {
        gap: 15px;
    }

    .history-card::before {
        content: "";
        position: absolute;
        top: 0px;
        left: -28px;
        width: 20px;
        height: 20px;
        background: url(../img/our-history/white_circle_icon.png) no-repeat;
        background-position: center;
        background-size: contain;
    }

    .year {
        font-size: 22px;
        transition: 0.4s;
        padding-right: 20px;
    }

    .history-card {
        background-color: #ffffff;
        border-radius: 15px 15px 15px 15px;
        padding: 24px 10px 24px 10px;
        margin-bottom: 30px;
        position: relative;
    }
}

@media screen and (max-width: 347px) {
    .mission-ul li:nth-child(2)::before {
        margin-top: -33px;
    }
}

/* Our History End*/

/* Service start */
.service {
    background-image: url(../img/service/half-doctor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    background-color: #f2f2f4;
    height: 300px;
    padding-top: 80px;
    padding-bottom: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-service {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-header {
    font-family: 'Ubuntu';
    font-size: 42px;
    color: #0a3380;
    font-weight: 700;
}

.service-section {
    font-family: Nunito;
}

.service-container {
    max-width: 1340px;
    padding: 0 20px;
    margin: 80px auto 100px auto;
}

.inner-service-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-service {
    color: #ff9e21;
    position: relative;
    max-width: 200px;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 700;
    padding-left: 20px;
}

.our-service-h3 {
    text-align: center;
}

.our-service span::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    right: -18px;
    margin-top: -2px;
    background-color: #ff9e21;
}

.our-service span::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    margin-top: -2px;
    background-color: #ff9e21;
    left: 0;
}

.our-service-p {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-family: 'Nunito';
    text-align: center;
    line-height: 2;
    font-weight: 400;
    color: #3b4964;
}

.icon-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-top: 15px;
}

.special-icon {
    max-width: 270px;
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.special-icon:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
    border-radius: 15px;
}

.icon-group {
    width: 110px;
    height: 110px;
    line-height: 110px;
    border: 1px dashed #54ced4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 2s ease;
}

/* dots */
.icon-group::before,
.icon-group::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #54ced4;
    border-radius: 50%;
    position: absolute;
    transition: transform 2s ease;
}

.icon-group::before {
    bottom: 11px;
    left: 12px;
}

.icon-group::after {
    top: 10px;
    right: 13px;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon-label {
    color: #0a3380;
    margin: 15px 0px 10px 0px;
    font-size: 24px;
    font-family: Ubuntu;
    font-weight: 700;
    line-height: 1.4;
    transition: 0.4s;
}

.pricing_plan-wrap {
    font-family: "Ubuntu", Sans-serif;
    font-weight: 700;
    max-width: 370px;
    width: 100%;
    transition: 0.5s;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 20px 0;
}

.pricing-header {
    position: relative;
    z-index: 1;
    padding: 43px 35px 37px;
    text-align: center;
}

.pricing-header::after {
    content: "";
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 60px;
    margin-left: -30px;
    background-color: #2ea6f7;
}

.pricing-h4 {
    display: inline-block;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 28px;
    color: #0a3380;
}

.pricing-price-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.pricing-price {
    color: #2ea6f7;
    font-size: 80px;
    padding-left: 10px;
}

.pricing_cur {
    display: inline-block;
    color: #2ea6f7;
    margin-top: -45px;
    font-size: 25px;
}

.pricing-month {
    font-size: 18px;
    color: #2ea6f7;
    font-weight: 400;
    vertical-align: bottom;
    margin-top: 42px;
}

.pricing_content {
    color: #0a3380;
    font-size: 18px;
    margin: 34px 35px 18px;
    text-align: center;
    line-height: 2;
}

.pricing_content p {
    margin-bottom: 20px;
}

.pricing_footer {
    margin: 62px auto 0 auto;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Ubuntu';
    max-width: 142px;
    border-radius: 7px 7px 0px 0px;
}

.pricing-btn {
    width: 100%;
    padding: 17px 30px;
    color: #ffffff;
    background-color: #2ea6f7;
    border-radius: 7px 7px 0px 0px;
    display: inline-block;
    text-align: center;
}

.pricing-plan-flex {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
}

.pricing_plan-wrap.blue {
    background: url(../img/service/price_bg.jpg) no-repeat;
    background-size: cover;
}

.pricing_cur.blue {
    color: #ffffff;
}

.pricing-price.blue {
    color: #ffffff;
}

.pricing-month.blue {
    color: #ffffff;
}

.pricing-h4.blue {
    color: #ffffff;
}

.pricing_content.blue {
    color: #ffffff;
}

.pricing-btn.blue {
    background-color: #ffffff;
    color: #2ea6f7;
}

.pricing-header.blue::after {
    background-color: #ffffff;
}

.pricing_cur.green {
    color: #54ced4;
}

.pricing-price.green {
    color: #54ced4;
}

.pricing-month.green {
    color: #54ced4;
}

.pricing-btn.green {
    background-color: #54ced4;
}

.pricing-header.green::after {
    background-color: #54ced4;
}

.pricing_footer.active {
    background-color: #2ea6f7;
}

.pricing_footer.active .pricing-btn {
    width: 100%;
    background-color: #ff9e21;
}

.pricing_footer.active .pricing-btn.blue {
    color: #ffffff;
}

@media screen and (max-width: 1025px) {
    .icon-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin-top: 15px;
    }

    .pricing-plan-flex {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        justify-content: space-evenly;
        row-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .our-service-h3 {
        font-size: 30px;
    }

    .icon-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 15px;
    }

    .special-icon {
        max-width: 300px;
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }

    .pricing-price-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .pricing-header {
        padding: 43px 25px 37px;
    }

    .pricing-month {
        margin-top: 10px;
    }

    .pricing-plan-flex {
        padding: 0px;
    }
}

@media screen and (max-width: 325px) {
    .our-service-h3 {
        font-size: 29px;
    }
}

/* Service End */

/* Doctor Start */
/* Doctor End */

/* FAQ Start */
/* FAQ End */

/* Blog 2column Start */
/* Blog 2column End */

/* Blog single Start */
/* Blog single End */

/* Contact Start */
/* Contact End */