@charset "utf-8";
/* ===============================
Top Page
=============================== */

@media screen and (max-width: 768px) {}

/* Our History */
.history-header {
    font-family: 'Ubuntu';
    font-size: 42px;
    color: #0a3380;
}

.history-section {
    font-family: Nunito;
}

.history {
    background-image: url(../img/our-history/half-doctor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    background-color: #f2f2f4;
    height: 300px;
    margin-bottom: 90px;
    padding-top: 80px;
    padding-bottom: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-history {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    padding: 0 5px;
    color: #54ced4;
}

.breadcrumb-item a {
    color: #0a3380;
}

.breadcrumb-item.active {
    color: #0a3380;
}

.mission {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
}

.mission-h3 {
    margin: 20px 0;
}

.mission-img {
    max-width: 656px;
}

.our-mission-wrapper {
    max-width: calc(100% - 656px);
    width: 100%;
    padding: 20px 0;
}

.mission-ul {
    position: relative;
}

.mission-ul li::before {
    content: '';
    background: url(../img/our-history/check.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
}

.mission-ul li {
    padding-left: 35px;
    line-height: 38px;
    display: flex;
    align-items: center;
}

.our-mission {
    color: #ff9e21;
    position: relative;
    max-width: 140px;
    padding:0 20px;
    font-size: 14px;
    font-family: 'Ubuntu';
}

.our-mission span::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    margin-top: -2px;
    background-color: #ff9e21;
    left: 0;
}

.our-mission span::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    right: 0;
    margin-top: -2px;
    background-color: #ff9e21;
}

.our-history-wrapper {
    background-color: #54ced4;
    background-image: url(../img/our-history/our-history-bg.png);
    background-position: center center;
    background-repeat: repeat;
    height: 100%;
}

.inner-our-history {
    max-width: 1320px;
    margin: 86px auto 0 auto;
    padding: 112px 20px;
    color: #ffff;
    text-align: center;
}

.our-history-h3 {
    margin: 20px 0;
    color: #ffff;
}

.our-history-p {
    font-family: 'Nunito';
    font-size: 18px;
    line-height: 2;
    text-align: center;
    margin-bottom: 20px;
}
.history-card-wrapper{
    display: flex;
    gap: 20px;
   justify-content: center;
}

.history-card-h3 {
    color: #0a3380;
    font-size: 20px;
    line-height: 1.4;
    transition: 0.4s;
    margin-bottom: 8px;
    font-family: 'Ubuntu';
}

.history-card-p {
    color: #3b4964;
    font-family: 'Nunito';
}
.history-card {
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    padding: 24px 30px 24px 50px;
    margin-bottom: 30px;
    position: relative;
}
.history-card::before{
    content: "";
    position: absolute;
    top: 0px;
    left: -40px;
    width: 30px;
    height: 30px;
    background: url(../img/our-history/white_circle_icon.png) no-repeat;
    background-position: center;
    background-size: contain;

}
.year{
    font-family: "Ubuntu", Sans-serif;
    color: #ccd0de;
    font-weight: 500;
    font-size: 48px;
    transition: 0.4s;
    position: relative;
    padding-right: 30px;
    text-align: center;
}
.year::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color:#ffffff;
}
.history-card-wrapper:last-child .history-card {
    margin-bottom: 0;
}
.our-history{
    position: relative;
    max-width: 140px;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Ubuntu';
}
.our-history span::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    margin-top: -2px;
    background-color: #ffffff;
    left: 0;
}

.our-history span::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    top: 50%;
    right: 0;
    margin-top: -2px;
    background-color: #ffffff;
}

.care-a{
    color: #ff9e21;
    font-size: 14px;
    font-family: 'Ubuntu';
}
.carea-lower-content p{
    font-family: 'Nunito';
    color: #3b4964;
    margin-bottom:20px ;
}
.lower-carea{
    font-family: "Ubuntu", Sans-serif;
    font-weight: 700;
    /* color: #0a3380; */
    color: #ccd0de;
    font-size: 18px;
}


/* Our History End*/
/* Service */
/* Service End */